fastapi
uvicorn
python-dotenv
redis
kafka-python
celery
sqlalchemy
asyncpg
psycopg2-binary
croniter
minio
alembic
python-jose[cryptography] 
argon2-cffi>=21.1.0
pydantic[email]
python-multipart
pydantic-settings
requests